@import "tailwindcss";

@media print {
  body {
    background: white;
  }
  .no-print {
    display: none !important;
  }
  .print-area {
    box-shadow: none !important;
    margin: 0 !important;
  }
}